In [1]:
import dataio

In [2]:
dataio.n_rows_parquet('./flights-1m.parquet', 5)

pyarrow.Table
FL_DATE: date32[day]
DEP_DELAY: int16
ARR_DELAY: int16
AIR_TIME: int16
DISTANCE: int16
DEP_TIME: float
ARR_TIME: float
----
FL_DATE: [[2006-01-01,2006-01-02,2006-01-03,2006-01-04,2006-01-05]]
DEP_DELAY: [[5,167,-7,-5,-3]]
ARR_DELAY: [[19,216,-2,-13,-17]]
AIR_TIME: [[350,343,344,331,321]]
DISTANCE: [[2475,2475,2475,2475,2475]]
DEP_TIME: [[9.083333,11.783334,8.883333,8.916667,8.95]]
ARR_TIME: [[12.483334,15.766666,12.133333,11.95,11.883333]]

In [3]:
dataio.n_rows_parquet('./flights-1m.parquet', 5)

pyarrow.Table
FL_DATE: date32[day]
DEP_DELAY: int16
ARR_DELAY: int16
AIR_TIME: int16
DISTANCE: int16
DEP_TIME: float
ARR_TIME: float
----
FL_DATE: [[2006-01-01,2006-01-02,2006-01-03,2006-01-04,2006-01-05]]
DEP_DELAY: [[5,167,-7,-5,-3]]
ARR_DELAY: [[19,216,-2,-13,-17]]
AIR_TIME: [[350,343,344,331,321]]
DISTANCE: [[2475,2475,2475,2475,2475]]
DEP_TIME: [[9.083333,11.783334,8.883333,8.916667,8.95]]
ARR_TIME: [[12.483334,15.766666,12.133333,11.95,11.883333]]

In [4]:
dataio.n_rows_parquet('./movies-3k.parquet', 5)

pyarrow.Table
US_Gross: double
Worldwide_Gross: double
US_DVD_Sales: double
Production_Budget: double
Release_Date: string
MPAA_Rating: string
Running_Time_min: double
Distributor: string
Source: string
Major_Genre: string
Creative_Type: string
Director: string
Rotten_Tomatoes_Rating: double
IMDB_Rating: double
IMDB_Votes: double
----
US_Gross: [[146083,10876,203134,373615,1009819]]
Worldwide_Gross: [[146083,10876,203134,373615,1087521]]
US_DVD_Sales: [[null,null,null,null,null]]
Production_Budget: [[8000000,300000,250000,300000,1000000]]
Release_Date: [["12-Jun-98","7-Aug-98","28-Aug-98","11-Sep-98","9-Oct-98"]]
MPAA_Rating: [["R","R",null,null,"R"]]
Running_Time_min: [[null,null,null,null,null]]
Distributor: [["Gramercy","Strand","Lionsgate","Fine Line","Trimark"]]
Source: [[null,null,null,null,"Original Screenplay"]]
Major_Genre: [[null,"Drama","Comedy","Comedy","Drama"]]
...

In [5]:
dataio.n_rows_parquet('./diffusiondb.parquet', 5)

pyarrow.Table
image_name: string
prompt: string
part_id: uint16
seed: uint32
step: uint16
sampler: uint8
width: uint16
height: uint16
user_name: string
timestamp: timestamp[us, tz=UTC]
image_nsfw: float
prompt_nsfw: float
----
image_name: [["2217ccbd-a1c6-47ac-9a2d-79649727c834.jpg","c78807b7-d55a-4a2d-a6b6-9192b18941ad.jpg","dc71658a-5e4b-4dca-861a-e1535510348b.jpg","48eb7e17-a3cf-4eb8-96a9-d8e3e23fa1af.jpg","601d9792-eccd-4850-97a7-edbe91d3464c.jpg"]]
prompt: [["a portrait of a female robot made from code, very intricate details, octane render, 8 k, trending on artstation ","a portrait of a female robot made from a cloud of images being very grateful to the creator, very intricate details, futuristic steampunk, octane render, 8 k, trending on artstation ","only memories remain, trending on artstation ","dream swimming pool with nobody ","a dog doing weights. epic oil painting. "]]
part_id: [[1,1,1,1,1]]
seed: [[2615452544,4231506957,544607824,3500509234,1312381211]]
step: [[50,50,50,50,50]]
sampler: [[8,8,8,8,8]]
width: [[512,512,512,512,512]]
height: [[512,512,512,512,768]]
user_name: [["0167cc490c3dc6047be855b096a9b9d8f20e2b034532bdf0b6d973b64016e41e","0167cc490c3dc6047be855b096a9b9d8f20e2b034532bdf0b6d973b64016e41e","0167cc490c3dc6047be855b096a9b9d8f20e2b034532bdf0b6d973b64016e41e","019084defdd44d2dfcd200bf7aaae53034263168e10d6bf1d095caa79caac18c","03cb377ebf364ea2761b5710625974c0d2d25285fec982a5a9167db8a71dccc9"]]
timestamp: [[2022-08-20 11:56:00.000000,2022-08-20 11:59:00.000000,2022-08-20 12:02:00.000000,2022-08-20 07:22:00.000000,2022-08-20 12:28:00.000000]]
...

In [2]:
dataio.n_rows_parquet("./flights/flights-10m.parquet", 5).to_pandas().head()

,FlightDate,UniqueCarrier,TailNum,Origin,OriginCityName,OriginState,Dest,DestCityName,DestState,CRSDepTime,...,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006-01-01,AA,N325AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,384.0,350.0,2475.0,0.0,0.0,19.0,0.0,0.0
1,2006-01-02,AA,N338AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,419.0,343.0,2475.0,167.0,0.0,49.0,0.0,0.0
2,2006-01-03,AA,N319AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,375.0,344.0,2475.0,NaN,NaN,NaN,NaN,NaN
3,2006-01-04,AA,N338AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,362.0,331.0,2475.0,NaN,NaN,NaN,NaN,NaN
4,2006-01-05,AA,N339AA,JFK,New York,NY,LAX,Los Angeles,CA,900,...,0.0,370.0,356.0,321.0,2475.0,NaN,NaN,NaN,NaN,NaN